@import url('./animation.css');

.l9 * {
  --duration: 1s;
  --delay: 150ms;
  transition: all var(--duration) cubic-bezier(0.67, 0.19, 0.58, 0.91)
    var(--delay);
}

.l9 path:nth-child(1).p80 {
  stroke-dashoffset: -360;
}

.l9 path:nth-child(2).p10 {
  stroke-dashoffset: -460;
}

.l9 path:nth-child(3).p50 {
  stroke-dashoffset: -490;
}

.l9 path:nth-child(4).p60 {
  stroke-dashoffset: -560;
}

.l9 path:nth-child(5).p80 {
  stroke-dashoffset: -640;
}

.l9 path:nth-child(6).p130 {
  stroke-dashoffset: -740;
}
